body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  background-color: hsl(221, 100%, 96%);
  display: flex;
  justify-content: center;
  align-items: center;
  /* so that body extends to viewport instead 
  of staying at .container size */
  min-height: 100vh;
  position: relative;
  font-family: 'Hanken Grotesk', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* main container styling */

.container {
  width: 510px;
  height: 400px;
  border-radius: 5%;
  background-color: white;
}

/* 


top container right styling 


*/

.top-container-right {
  width: 255px;
  height: 400px;
  position: absolute;
  transform: translateX(50%);
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.summary {
  font-size: large;
  font-weight: 700;
  width: 80%;
}

.blocks-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
}

.block {
  width: 100%;
  box-sizing: border-box;
  padding: 10px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  border-radius: 15px;
}

.aptitude {
  display: flex;
  align-items: center;
  font-size: 0.9rem;
  font-weight: 500;
}

.block .aptitude img {
  margin-right: 10px;
}

.block.reaction-bg {
  background-color: hsla(0, 100%, 67%, 0.1);
}

.block.reaction-bg .reaction {
  color: hsl(0, 100%, 67%);
}

.block.memory-bg {
  background-color: hsla(39, 100%, 56%, 0.1);
}

.block.memory-bg .memory {
  color: hsl(39, 100%, 56%);
}

.block.verbal-bg {
  background-color: hsla(166, 100%, 37%, 0.1);
}

.block.verbal-bg .verbal {
  color: hsl(166, 100%, 37%);
}

.block.visual-bg {
  background-color: hsla(234, 85%, 45%, 0.1);
}

.block.visual-bg .visual {
  color: hsl(234, 85%, 45%);
}

.top-container-right .score span:first-child {
  font-size: small;
  font-weight: 600;
}

.top-container-right .score span:last-child {
  font-size: small;
  font-weight: 600;
  opacity: 40%;
}

.top-container-right button {
  height: 45px;
  background-color: hsl(224, 30%, 27%);
  border-radius: 25px;
  width: 82%;
  color: white;
  border: none;
}

.top-container-right button:hover {
  cursor: pointer;
  background-image: linear-gradient(
    to bottom,
    hsl(252, 100%, 67%),
    hsl(241, 81%, 54%)
  );
}

/* 


top container left styling


*/

.top-container-left {
  width: 255px;
  height: 400px;
  background-color: hsl(252, 100%, 67%);
  position: absolute;
  transform: translateX(-50%);
  border-radius: 5%;
  background-image: linear-gradient(
    hsl(252, 100%, 67%) 10%,
    hsl(241, 81%, 54%)
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.circle-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-image: linear-gradient(
    hsla(256, 72%, 46%, 1),
    hsla(241, 72%, 46%, 0)
  );
}

.result {
  font-size: smaller;
  color: white;
  font-weight: 400;
  opacity: 70%;
}

.top-container-left .score {
  font-size: xxx-large;
  color: white;
  font-weight: 700;
}

.total {
  font-size: small;
  color: white;
  opacity: 40%;
}

.comment-one {
  font-size: large;
  color: white;
}

.comment-two {
  font-size: smaller;
  font-weight: 300;
  color: white;
  opacity: 60%;
  /* move text to center, default flush on left */
  text-align: center;
  /* max width content can take in container */
  max-width: 80%;
  /* get it closer to .comment-one */
  margin-top: -10%;
}

@media (max-width: 510px) {
  body {
    display: flex;
    /* stack elements vertically */
    flex-direction: column;
    /* removes 100vh constraint that forces body to take viewport height */
    /* instead allows content to determine height */
    min-height: auto;
    position: relative;
  }

  /* cover gap between containers */
  .container {
    width: 100%;
    max-width: 375px;
    height: 100%;
    position: absolute;
    z-index: -1;
  }

  .top-container-left {
    /* remove absolute positioning and transformation */
    /* allows to follow normal document flow */
    position: static;
    transform: none;
    /* set 100% width with reasonable max-width */
    /* 375px standard breakpoint for responsive design */
    width: 100%;
    max-width: 375px;
    border-radius: 0 0 30px 30px;
    /* for flex layouts */
    order: 1;
  }

  .top-container-right {
    /* remove absolute positioning and transformation */
    /* allows to follow normal document flow */
    position: static;
    transform: none;
    /* set 100% width with reasonable max-width */
    /* 375px standard breakpoint for responsive design */
    width: 100%;
    max-width: 375px;
    /* for flex layouts */
    order: 2;
    /* desktop has .container with white, .container not needed when stacked */
    background-color: white;
    border-radius: 0px 0px 30px 30px;
  }

  .blocks-container {
    width: 85%;
  }
}
